.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #2e7d32;
  color: white;
  padding: 15px 30px;
  position: relative;
}

.logo {
  font-size: 1.5rem;
}

.menu-btn {
  background: #4caf50;
  color:white;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
}

.dropdown {
  position: absolute;
  right: 30px;
  top: 60px;
  background: black;
  color: #2e7d32;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0,0,0,0.2);
}

.dropdown a {
  padding: 10px 20px;
  text-decoration: none;
  color: #2e7d32;
  border-bottom: 1px solid #ddd;
}

.dropdown a:hover {
  background: #f4f4f4;
}

.dropdown a:last-child {
  border-bottom: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2e7d32; /* dark green */
  padding: 7rem 3rem;
  color: white;
  position: relative;
}

.image3-container {
  display: flex;
  align-items: center;
}

.image3-img {
  height: 50px; /* adjust as needed */
  width: 70px;
}